@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");

.Header {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  font-family: "Source Code Pro";
}

.Link {
  color: plum;
  text-decoration: none;
}
