@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");

.Task {
  color: rebeccapurple;
  font-family: "Source Code Pro";
  font-size: 30px;
}

.Table {
  width: 200%;
  /* background-color: pink; */
}

/* .Checkbox {
  height: 55%;
  width: 55%;
} */

.TableData {
  /* //justify-content: space-evenly; */
  width: 200%;
}
